{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('easyadmin/tema/DataTables-1.10.10/media/css/jquery.dataTables.css') }}"/>
{% endblock %}

{% block body %}
    <!-- Alerta -->
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Nomencladores</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="{{ path('inicio') }}"><i
                                                class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="{{ path('gestionarFormatos') }}">Formatos</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Formatos</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Nomenclador de Formatos de proyectos</h3>
                        <div class="col-lg-12 col-12 text-right">
                            <button class="btn btn-sm btn-default" id="addNuevoFormato" type="button"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Agregar un nuevo formato">Nuevo
                            </button>
                        </div>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush" id="dataFormatos">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for formato in formatos %}
                                <tr data-id="{{ formato.id }}">
                                    <td>{{ formato.nombre }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-info btn-icon-only rounded-circle editFormato"
                                                type="button" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Modificar">
                                        <span class="btn-inner--icon"><i
                                                    class="fas fa-edit"></i></span>
                                        </button>
                                        <button class="btn btn-sm btn-danger btn-icon-only rounded-circle borrarFormato"
                                                type="button" data-toggle="tooltip"
                                                data-placement="top"
                                                title="Eliminar">
                                                                                 <span class="btn-inner--icon"><i
                                                                                             class="fas fa-trash"></i></span>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{ include('Nomencladores/GestionarFormatos/modalAddFormato.html.twig') }}
            {{ include('Nomencladores/GestionarFormatos/modalEditFormato.html.twig') }}
        </div>
        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('easyadmin/tema/DataTables-1.10.10/media/js/jquery.dataTables.js') }}"></script>
    <script>
        $(document).ready(function () {

            (function () {
                {% if not (is_granted("ROLE_SUPERUSUARIO") or is_granted("ROLE_ADMINISTRADOR")) %}
                window.location.href = "{{ path('login') }}";
                {% else %}
                {% for nivel in app.user.nivelAccesos() if nivel == 'ADMINISTRACION' %}
                {% else %}
                window.location.href = "{{ path('login') }}";
                {% endfor %}
                {% endif %}
            })();

            $('#dataFormatos').DataTable({
                "lengthChange": false,
                "lengthMenu": [[10], [10]]
            });

            $('#addNuevoFormato').on('click', function () {
                $('#modalAddFormato').modal('show');
            });

            $('#btnAddGuardar').on('click', function () {

                //Validaciones
                if ($("#addNombre").val() === '') {
                    alertify.alert('<strong>El nombre es obligatorio, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                $('#modalAddFormato').modal('hide');

                $(".preload").removeClass('hidden');

                var mat_datos = {
                    nombre: $("#addNombre").val()
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("insertFormato") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');

                    if (data === 'ok') {

                        alertify.alert('<strong>El formato ha sido insertado correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmaci贸n</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                $('#modalAddFormato input').each(function () {
                                    $(this).val('');
                                });
                                window.location.href = "{{ path('gestionarFormatos') }}";
                            });
                    } else {
                        alertify.alert('<strong>' + data + '</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar')
                    }
                });

            });

            var idFormato = '';
            var nombre = '';

            $('#dataFormatos tbody').on('click', '.editFormato', function () {

                var row = $(this).parents('tr');
                idFormato = row.data('id');

                {% for formato in formatos %}
                var id = parseInt('{{ formato.id }}');
                if (id === idFormato) {
                    $('#editNombre').val('{{ formato.nombre }}');
                    nombre = '{{ formato.nombre }}';
                }
                {% endfor %}
                $('#modalEditFormato').modal('show');
            });

            $('#btnEditGuardar').on('click', function () {

                //Validaciones
                if ($("#editNombre").val() === '') {
                    alertify.alert('<strong>El nombre es obligatorio, no puede quedar en blanco.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label', 'Aceptar');
                    return false;
                }

                $('#modalEditFormato').modal('hide');
                $(".preload").removeClass('hidden');

                var mat_datos = {
                    idFormato: idFormato,
                    nombre: $('#editNombre').val()
                };
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("updateFormato") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if (data === 'ok') {

                        alertify.alert('<strong>El formato ha sido modificado correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmaci贸n</h4>')
                            .set('label', 'Aceptar')
                            .set('onok', function () {
                                window.location.href = "{{ path('gestionarFormatos') }}";
                            });
                    } else {
                        alertify.alert('<strong>' + data + '</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label', 'Aceptar')
                    }
                });

            });

            $('#dataFormatos tbody').on('click', '.borrarFormato', function () {

                var row = $(this).parents('tr');

                var mat_datos = {idFormato: row.data('id')};

                alertify.confirm('Basic: false').set('message', '<strong>Seguro que desea eliminar el formato seleccionado</strong>')
                    .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                        '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Advertencia</h4>')
                    .set('onok', function () {

                    $(".preload").removeClass('hidden');

                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: '{{ path("deleteFormato") }}',
                        data: mat_datos
                    }).done(function (data) {

                        $(".preload").addClass('hidden');
                        if (data === 'ok') {

                            alertify.alert('<strong>El formato seleccionado ha sido eliminado correctamente</strong>')
                                .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                    '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmaci贸n</h4>')
                                .set('label', 'Aceptar')
                                .set('onok', function () {
                                    row.fadeOut();
                                });
                        } else {
                            alertify.alert('<strong>' + data + '</strong>')
                                .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                    '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmaci贸n</h4>')
                                .set('label', 'Aceptar')
                        }
                    });
                });
            });


        });

    </script>
{% endblock %}

